
/* GENERAL */
/*Scroll bar by default for short pages*/
html {
  overflow-x:auto;
  overflow-y:scroll;
  font-family: 'Roboto', sans-serif;
 }

/* ex-color 364 85f*/
/*7ea 6e0 */

.twitter-feed {
    width:100%; 
    float:left; 
    text-align:center;
}

.date {
    font-weight: bolder;
    color: darkgray;
    font-size:1.4em;
}

h1 {
    color: #800000;
    font-size: 2.3em;
}

h2 {
  color:#800000;
  font-size: 1.6em;
}

h3 {
  color:#800000;
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
  color: #800000;
}

h5 {
  font-size: 1.1em;
}

p {
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

/* Table formatting */
table {
  margin-bottom: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding-top: 70px;
  position: relative;
  height:100%;
}

@media screen and (min-width: 900px) {
  .sidebar{
    padding-top: 5em;
}
}

/* Always show hamburger menu */
.hamburger-menu {
  display: block !important;
}

/* Show desktop menu on the right */
.desktop-menu {
  display: block !important;
}

/* Adjust logo position for hamburger menu */
.navbar-logo {
  margin-left: 50px;
}

@media screen and (max-width: 900px) {
  .name-col-2 {
    display: none;
  }

  .skills-content {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sidebar {
    padding-top: 10px;
  }
}

/*icons*/
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

/**********************************************************
 HEADER 
 **********************************************************/
.navbar {
    padding-top: 10px;
    min-height: 70px !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
    overflow: visible;
    background-color: #800000;
    position: relative;
  }

/* Hamburger Menu Button */
.hamburger-menu {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4A90E2;
    border: none;
    border-radius: 6px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.hamburger-menu:hover {
    background-color: #357ABD;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

.hamburger-menu i {
    color: white;
    font-size: 24px;
    line-height: 45px;
}

/* Three horizontal lines */
.hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5px;
}

.hamburger-lines span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Left Sidebar Menu */
.mobile-sidebar {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 15px rgba(0,0,0,0.3);
    transition: left 0.3s ease;
    z-index: 1002;
    overflow-y: auto;
}

.mobile-sidebar.active {
    left: 0;
}

.sidebar-content {
    padding: 80px 0 20px 0;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 32px;
    color: #666;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
    line-height: 32px;
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: #4A90E2;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
}

.sidebar-links a {
    display: block;
    padding: 18px 25px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #f8f9fa;
    color: #4A90E2;
    padding-left: 35px;
}

.sidebar-divider {
    height: 1px;
    background-color: #ddd;
    margin: 15px 0;
}

.sidebar-login-btn {
    background-color: #4A90E2 !important;
    color: white !important;
    text-align: center;
    border-radius: 0 !important;
    padding: 18px 25px !important;
    margin: 15px 20px !important;
    font-weight: 600;
    border: none !important;
    box-shadow: 0 2px 8px rgba(74, 144, 226, 0.3);
}

.sidebar-login-btn:hover {
    background-color: #357ABD !important;
    color: white !important;
    padding-left: 25px !important;
    box-shadow: 0 4px 12px rgba(74, 144, 226, 0.5) !important;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1001;
}

.sidebar-overlay.active {
    display: block;
}

.items-wrapper {
  float:right;
}

.items-wrapper-responsive {
  float:left;
}

.menu-items a {
  /* float:right; */
  /* color:#BD4A3B; */
  color: #FFFFFF;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
}

/* .navbar div a {
  color:#e67e00;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
  display: inline;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
} */


/* .navbar .menu-items {
  display: inline-block;
  float: right;
  margin-right: 20px;
} */



.blog-icon {
  width: 15px;
  height: 15px;
  display: inline-block;  
}

.menu-items a:hover {
  color:#ff9966;
}

.navbar-logo {
  max-height: 50px;
  float: left;
  vertical-align: middle;
}

/*FOOTER*/
.site-footer {
  margin: 4rem 0 0;
   bottom:0px;
 }

.site-footer img {
  margin-bottom: 10px;
}

.powered-by {
  color: darkgray;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-size: 0.8em;
  margin-bottom: 30px;
}

/*********************************************************
HOME PAGE 
**********************************************************/
.home .row {
  margin-left: 5px;
  margin-right: 5px;
}

/* .home .news-container, .home .projects-container {
  /* box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0,0,0,.11); */
  /* overflow-y: scroll; */
  /* margin-top: 40px;
  margin-right: 50px;
  padding-right: 10px;
  height: 25em;
  padding-left: 10px;
  padding-bottom: 5px; */ */
  /* -ms-overflow-style: none; Hide scrollbar for IE and Edge 
}*/

/* Hide scrollbar for Chrome, Safari and Opera */
.home .news-container::-webkit-scrollbar, .home .projects-container::-webkit-scrollbar {
  display: none;
}

.main p {
  text-align: left;
}

.home .news-container p, .home .projects-container li {
  font-size: 1.1em;
  text-align: left;
}

 .home .news-container p a {
  color: #333;
  text-decoration: underline;
}

.home .projects-container li a {
  color: #800000;
}

.home .projects-container li a:hover, .home .news-container p a:hover{
  color: #ff9966;
}


.home-stripe{
  /* padding-top: 10px; */
  min-height: 7.5em;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  height: auto;
}

.home-stripe h1, .home-stripe p {
  color: white;
}

.homepage-card {
  margin-top: 20px;
  margin-right: 30px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  text-decoration: none;
  max-width: 200px;
  padding: 2px;
}


.homepage-pic {
  max-width: 130px;
  width: 100%;
  display: block;
  margin: auto;
}

/******************************************************
 PROJECTS AND EVENTS (LIST PAGE)
 ******************************************************/
/* .sidebar {
  position: sticky;
} */

/* .affix {
  top: 0;
  width: 100%;
} */
/* 
.affix-top {
  width: 100%;
}

.affix-bottom {
  position: absolute;
  width: 100%;
} */

.project-container {
    /* max-width: 80%; */
    /* box-shadow: 0.125rem 0.125rem 0.25rem 0.125rem rgba(0,0,0,.11); */
    /* margin-top:40px; */
    /* font-size: 20px; */
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #EEEEEE;
    border-right-width: 10px;
}

.project-image {
  max-width: 70%;
  max-height: 250px;
  /* max-height: 180px; */
  padding-top: 5px;
  padding-top: 5px;
}

/* .project-title {
    margin: 0px 15px 0px 15px;
} */

.project-title h4 a{
  color: #800000;
}


.project-title h4 a:hover{
  color: #ff9966;
}

.project-title h4 a:focus{
  text-decoration: none;
}

.project-title h4 img {
  width: 15px;
  height: 15px;
}

.project-title p {
  font-size: 1em;
}

.project-description {
  margin: 0px 15px 0px 15px;
  /* font-size: 1.3em; */
}

.project-description img {
  float: right;
  margin: 0px 20px 20px 20px;
  width: 20%;
}

.buttons-container {
  margin-left: 15px;
}

.filterDiv {
  display: none;
}

.show {
  display: inline-block;
}


.project-description p{
  text-align: justify;
  font-size: 1em;
}

/* Tags */
.top-bar {
  display: inline-flex;
  width: 100%;
}

/* #defaultOpen {
  background-color: #ff9966;
} */

.all-buttons {
  padding-top: 25px;
}

.tags-button {
    background-color: darkgray;
    color: #ffffff;
    border: none;
    font-size: 14px;
    clear:both;
    margin-bottom: 5px;
    margin-top: 5px;
}


.tags-button:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0,0,0,.11);
}

.tags-button:focus {
  background-color: #ff9966;
  outline: none;
}

.type-button {
    background-color: #ff9966;
    color: #ffffff;
    border: none;
    font-size: 16px;
    clear:both;
    margin-bottom: 15px;
    outline: none;
}

.type-button:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0,0,0,.11);
}

/***********************************************************
PROJECTS (SINGLE PAGE) 
************************************************************/
.article-container {
  max-width: 760px;
  padding: 1rem 20px 0 20px;
  margin: 0 auto 0 auto;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
  font-size: 1.5rem;
  text-align: left;
}

.article-container p img {
  max-width: 100%
}

.author-container {
  font-size: 1.2em;
}

.author-container a{
  text-decoration: none;
  color: black;
}

.author-container a:hover{
  color: #ff9966;
}

.author:not(:last-of-type):after {
  content: ",";
}

.buttons {
  padding: 10px;
  display: inline-block;
  font-size: 1.1em;
}

/*Sharing*/
.share-icons {
  padding: 10px;
  display: inline-block;
}

.share-icons img {
  width: 25px;
  height: 25px;
}

.share-icons a:hover {
  text-decoration: none;
}

.share-icons a img:hover{
  opacity: 0.6
}

/**********************************************************
PUBLICATIONS
***********************************************************/
.container-publications {
  margin-top: 40px;
  box-shadow: 0.125rem 0.125rem 0.25rem 0.125rem rgba(0,0,0,.11);
  max-width: 760px;
}

.publication {
  font-size: 1.5rem;
  margin-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.project-name a {
  font-size: 1.3em;  outline: none;
}

/* Hide document icons from publications */
.publication img[src*="doc.png"],
.publication img[alt="Document Icon"] {
  display: none !important;
}

.publication img {
  height: 15px;
  width: 15px;
}

.publication pre {
  background-color: white;
  border: none;
}

.citing pre p {
  text-align: left;
}

.author.pub:last-of-type:after{
  content: "."
}

button {
  background-color: #ffffff;
  color: darkgray;
  border-color: darkgray;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  font-size: 1.5rem;
}

button:hover {
  color: #ff9966;
  border-color: #ff9966;
}

/* button:focus {
  opacity: 0.6;
} */

.collapsing p{
  font-size: 14px;
  padding: 10px;
}

.collapsing p a {
  text-decoration: none;
  color: inherit;
}

.collapse p{
  font-size: 14px;
  padding: 10px;
}

.collapse p a {
  text-decoration: none;
  color: inherit;
}

/*
**************************************************************
 CONTACT 
**************************************************************/
.contacts-container {
    font-size: 1.1em;
}

.contacts-container img {
  width: 30px;
  height:30px;
  margin-right: 5px;
}

.contact-item {
  margin-top: 10px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:75%;
    width:75%;
    position:absolute;
}

/****************************************************** 
PEOPLE LIST
*******************************************************/

.card-people {
  height: 270px;
  width: 270px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  text-decoration: none;
}

.card-people a {
  text-decoration: none;
  color: black;
}

.card-people img {
  height: 200px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.card-people:hover{
    box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.2);
}

.card-name a{
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.card-name a:hover {
  text-decoration:underline;
  text-decoration-color: #800000;
}

.people-container .row {
  margin-bottom: 30px;
}

.card-description p{
  text-align: center;
  font-size: 14px;
  color: darkgray;
}

.group-photo {
  max-width: 90%;
}

/*****************************************************************
PEOPLE SINGLE
******************************************************************/

@media screen and (max-width: 600px) {
  .button-text {
      display: none;
  }
  }

@media screen and (min-width: 600px) {
.name-col-1 {
    display: none;
  }


.skills-content {
    /* padding-left: 20px; */
    margin: 20px;
  }

 .skill-description {
    width: 70%;
    /* padding: 0 10px 0 0; */
    float: right;
 }

 .skill-name {
     width: 25%;
     float: left;
     padding-left: 40px;
 }
}

@media screen and (max-width: 600px) {
  .skill-description {
    width: 50%;
    float: right;
  }

  .skill-name {
      width: 50%;
      float: left;
  }
}

.info-column {
    float: right;
}

.info-column p {
  text-align: left;
}

.profile-column {
    float: left;
}

.personal .photo-personal {
  max-height: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.personal .share-icon {
  height: 40px;
  width: 40px;
}

.personal .share-icon:hover {
  opacity: 0.6;
}

.cv a {
  color: darkgray;
  border-color: darkgray;
  text-decoration: none;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.cv a:hover {
  color: #ff9966;
  border-color: #ff9966;
}

.link {
    margin-bottom: 10px;
}

.link a {
  color: darkgray;
  border-color: darkgray;
  text-decoration: none;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.link a:hover {
  color: #ff9966;
  border-color: #ff9966;
}

.contacts {
  padding-bottom: 10px;
}

.contacts a {
  padding-right: 5px;
}

.graduation {
  padding-top: 10px;
}

.graduation p{
  font-size: 18px;
  width: 225px;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #ff9966;
}

/* Create an active/current tablink class */
.tab button.active {
    color: #ff9966;
    font-weight: bold;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    border-radius: 8px;
}

.skill {
  font-size: 1.1em;
  padding-left: 10px;
}

.skill:not(:last-of-type):after {
  content: ",";
}

.skill-name:after{
  clear:both;
}


.skill-name p {
  color:#800000;
}


.project-name a {
  color: #800000;
  text-decoration: none;
}

.project-name a:hover {
  color: #ff9966;
}



/*****************************************************
QUAIL 
******************************************************/
.quail-header {
  width: 100%;
  background-color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
}

.quail-image {
  height: 100px;
  display:table-cell;
}

.quail-header h1 {
  position: relative;
}

.quail-description {
  margin-right: 10px;
}

.quail-description p {
  text-align: justify;
}

.quail-starter {
  float:right;
}

.quail-starter p span {
  color: #800000;
}


.quail-button {
  background-color: darkgray;
  border: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 30px;
  margin-bottom: 5px; 
  color: white;
  font-weight: bold;
}

.quail-button:hover {
  background-color: #ff9966;
  color: white;
}


.quail-row {
  padding-bottom: 40px;
  border-bottom: #eeeeee;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}


.leaderboard {
  padding-top: 40px;
}

.leaderboard span {
  font-size: 12px;
  color: gray;
}

.dataTables_filter {
  display: none;
  }

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #eeeeee;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #eeeeee; 
  margin-bottom: 5px;
}