html {
    overflow-x:auto;
    overflow-y:scroll;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #800000;
  }
  
a:hover{
  text-decoration: none;
  color: #ff9966;
}

h2 {
  color: #800000;
}

/* Table formatting */
table {
    margin-bottom: 10px;
}
  
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding-top: 70px;
    position: relative;
    height:100%;
}

@media screen and (min-width: 900px) {
    .sidebar{
        padding-top: 5em;
    }
}

@media screen and (max-width: 900px) {
.menu-items.responsive {position: relative;}
.menu-items.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }

.menu-items a {display: none;}
.menu-items a.icon {
    float: right;
    display: block;
}

.menu-items.responsive a {
    clear:left;
    float: none;
    display: block;
    text-align: left;
}

.menu-items.responsive .items-wrapper {
    float: left;
    clear:left;
}
}
/*icons*/
.icon {
    width: 25px;
    height: 25px;
    display: inline-block;
  }

  /**********************************************************
 HEADER 
 **********************************************************/
.navbar {
    padding-top: 10px;
    min-height: 70px !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
    overflow: hidden;
    background-color: #800000;
  }

.items-wrapper {
  float:right;
}

.items-wrapper-responsive {
  float:left;
}

.menu-items a {
  color: #FFFFFF;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
}


.menu-items .icon {
    display: none;
}
  
.blog-icon {
    width: 15px;
    height: 15px;
    display: inline-block;  
}
  
.menu-items a:hover {
    color:#ff9966;
}
  
.navbar-logo {
    max-height: 50px;
    float: left;
    vertical-align: middle;
}

/*FOOTER*/
.site-footer {
    margin: 4rem 0 0;
     bottom:0px;
}
  
.site-footer img {
    margin-bottom: 10px;
}
  
.powered-by {
    color: darkgray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 0.8em;
    margin-bottom: 30px;
}


/*****************************************************
QUAIL 
******************************************************/
.quail-header {
    width: 100%;
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eeeeee;
  }
  
  .quail-image {
    height: 100px;
    display:table-cell;
  }
  
  .quail-header h1 {
    position: relative;
  }
  
  .quail-description {
    margin-right: 10px;
  }
  
  .quail-description p {
    text-align: justify;
  }
  
  .quail-starter {
    float:right;
  }
  
  .quail-starter p span {
    color: #800000;
  }
  
  
  .quail-button {
    background-color: darkgray;
    border: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-bottom: 5px; 
    color: white;
    font-weight: bold;
  }
  
  .quail-button:hover {
    background-color: #ff9966;
    color: white;
  }

  .quail-button:focus {
    outline: none;
  }
  
  
  .quail-row {
    padding-bottom: 40px;
    border-bottom: #eeeeee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  
  
  .leaderboard {
    padding-top: 40px;
  }
  
  .leaderboard span {
    font-size: 12px;
    color: gray;
  }
  
  .dataTables_filter {
    display: none;
    }
  
  table.dataTable thead th, table.dataTable thead td {
      border-bottom: 1px solid #eeeeee;
  }
  
  table.dataTable.no-footer {
    border-bottom: 1px solid #eeeeee; 
    margin-bottom: 5px;
  }